# Prerequisites
*.d

# Object files
*.o
*.ko
*.obj
*.elf

# Linker output
*.ilk
*.map
*.exp

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# Debug files
*.dSYM/
*.su
*.idb
*.pdb

# Kernel Module Compile Results
*.mod*
*.cmd
.tmp_versions/
modules.order
Module.symvers
Mkfile.old
dkms.conf

# Ignore CSV files
*.csv

# Outputs do programa
trabalho-pratico/outputs-fase-1/*.txt
trabalho-pratico/outputs-fase-1/command*_output.txt
trabalho-pratico/outputs-fase-2/*.txt
trabalho-pratico/outputs-fase-2/command*_output.txt

# Datasets
trabalho-pratico/dataset*/
trabalho-pratico/dataset-fase-1*/

trabalho-pratico/dataset*/
trabalho-pratico/dataset-fase-2*/

# Resultados esperados do programa
trabalho-pratico/resultados/*.txt
trabalho-pratico/resultados/command*_output.txt

# Executáveis específicos do projeto
trabalho-pratico/programa-principal
trabalho-pratico/programa-testes
trabalho-pratico/programa-interativo