# Prerequisites
*.d

# Object files
*.o
*.ko
*.obj
*.elf

# Linker output
*.ilk
*.map
*.exp

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# Debug files
*.dSYM/
*.su
*.idb
*.pdb

# Kernel Module Compile Results
*.mod*
*.cmd
.tmp_versions/
modules.order
Module.symvers
Mkfile.old
dkms.conf

# Ignore CSV files
*.csv

# Outputs do programa
outputs-fase-1/*.txt
outputs-fase-1/command*_output.txt
outputs-fase-2/*.txt
outputs-fase-2/command*_output.txt

# Datasets
dataset*/
dataset-fase-1*/
dataset-fase-2*/

# Resultados esperados do programa
resultados/*.txt
resultados/command*_output.txt

# Executáveis específicos do projeto
programa-principal
programa-testes
programa-interativo